*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
	width: 950px;
	height: 950px;
	background-color: rgb(91,78,102);
	/*background: radial-gradient(rgb(239, 247,245), rgb(35,32,35);*/
}

#header{
	width: 950px;
	background-color: rgb(242, 242, 242);
	margin: 0px auto;
 	padding: 15px;
 	overflow: auto;	

	
}
.headleft{
	display: inline-block;


}
.headright{
	display: inline-block;
	float: right;
}
