*{
 	margin: 0px;
 	padding: 0px;
}
h3{
	background: -webkit-linear-gradient(rgb(192, 189, 193), rgb(151, 144, 155), rgb(192, 189, 193)); 
	color: white;
	padding: 10px;
	font-size: 22pt; 
}
p{
	background: -webkit-linear-gradient(left, white, rgb(225, 196, 239));
	padding: 10px;
	overflow: auto;
	font-size: 20pt;
}
a{
	text-decoration: underline;
	color: black;

}
#wrapper{
	background: -webkit-radial-gradient(rgb(128, 103, 140), black);
	height: 1500px;
	padding-top: 22px;
}
#topleft{
	display: inline-block;
	margin: 30px;
	border: 3px, solid, silver;
}
#topright{
	display: inline-block;
	margin: 10px;
	margin-top: 30px;
	width: 50%;
	height: 457px;
	vertical-align: top;
	background: -webkit-linear-gradient(left, white, rgb(225, 196, 239));		
}
#middle{
	width: 30%;
	height: 450px;
	margin: 24px;
	display: inline-block;
	vertical-align: top;
} 
#header{
	width: auto;
	background-color: rgb(242, 242, 242);
	margin: 0px auto;
 	padding: 15px;
 	overflow: auto;	
}
#footer{
	width: auto;
	background-color: rgb(242, 242, 242);
	margin: 0px auto;
 	overflow: auto;	
 	display:block;
 	padding-left: auto;
 	padding-right: auto;
}
#bottom{
	background: -webkit-linear-gradient(left, white, rgb(225, 196, 239));
	height: 240px;
	overflow: auto;
}
.headleft{
	display: inline-block;


}
.headright{
	display: inline-block;
	float: right;
}
.footcontent1{
	display: inline-block;
	background: transparent;
	margin-left: 40%;	
}
.footcontent2{
	display: inline-block;
	background: transparent;
	margin-left: 35%;	
}
.pom{
	display: inline-block;
	height: 450px;
	width: auto;
	border: 4px solid silver;
	vertical-align: top;
}
.mpicture{
	display: inline-block;
	width: 100%;
	height: auto;
}
.words{
	height: 280px;
	font-size: 18pt;
}
.end{
	width: 15%;
	height:auto;
	padding: 10px;
}
.button{
	margin-left: 175px;
	background-color: green;
	display: inline-block;
	border: solid black 2px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
	color: white;
	padding: 4px;
}
.footpic{
	width: 25px;
	height: auto;
}