*{
 	margin: 0px;
 	padding: 0px;
}
/*img{
	width: 300px;
	height:auto;
}*/
#wrapper{
	background: -webkit-radial-gradient(purple, black);
	
}

#header{
	width: 950px;
	background-color: rgb(242, 242, 242);
	margin: 0px auto;
 	padding: 15px;
 	overflow: auto;	
}
#top{
	display: inline;
}
.headleft{
	display: inline-block;


}
.headright{
	display: inline-block;
	float: right;
}

.po_m{
	display: inline-block;
	height: 300px;
	width: auto;
	border: 3px
}